.hero { 
    background: linear-gradient(rgb(4,0,0,0.5),rgba(23, 18, 18, 0.5)),url("d053c6d1fc4a5ceca9121e162692df3e.png"); 
    padding:200px 0; 
    color: aliceblue;
    height: 90vh;
}
body { 
    background-color: #f8f9fa;
 }
 .nav-item{
    margin: 10px;
 }
 .nav-item:hover{
    background-color: black;
    color: black;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px white;
    font-weight: bold;
    transition: 0.7s;
}
.category-card { transition:0.3s; }
.category-card:hover { transform: translateY(-5px); }
.btn-custom { background-color:black; color:white; }
.btn-custom:hover { background-color: rgb(9, 9, 78); color: aliceblue;}
.navbar{
    background-color: darkblue;
}
.li{
    padding: 14px;
    border-radius: 10px;
    background-color: black;
}
footer{
    background-color: darkblue;
}
section{
    background-image: linear-gradient(rgb(4,0,0,0,5),rgb(4,0,0,0,5)),url("d053c6d1fc4a5ceca9121e162692df3e.png");

}

